body {
    background:red;
    font-family: arial;
}

h1,h2 {
    color: #555;
}

a {
    color: green;
}

p {
    background: #666;
    color: white;
    padding: 5px;
}

.secondary {
       background: none;
       color: #777;
}

#special {
    background: red;
    color: white;
}